@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
/* default colors */
:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;

    --line-color: #42434a;
    --hover-color: #222533;
    --accent-color: #5e63ff;
    --primary-color: #11121a;
    --primary-text-color: #e6e6ef;
    --secondary-text-color: #b0b3c1;
}

/* set all default margin and paddings of elements */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'JetBrains Mono', sans-serif;
    line-height: 1.5rem;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: auto 1fr;
    color: var(--primary-text-color);
    background-image: url('media/background.jpg');
    background-size: cover; /* Scale image to cover entire background */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Keeps the image fixed during scroll */
    background-position: center;
}

#sidebar {
    width: 250px;
    height: 100vh;
    padding: 5px 15px;

    background-color: rgba(0, 0, 0, 0.6);
    border-right: 1px solid var(--line-color);

    top: 0;
    position: sticky;
    overflow: hidden;
    text-wrap: nowrap;
    align-self: start;
    box-sizing: border-box;

    /* transition open close sidebar */
    transition: 200ms ease-in-out;
}

/* add closing class to sidebar */
#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li:first-child {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
}

#sidebar .team-name {
    font-weight: 600;
}

#sidebar ul li.active a {
    color: var(--accent-color);

    i {
        color: var(--accent-color);
    }
}

#sidebar a, #sidebar .team-name {
    display: flex;

    gap: 1em;

    padding: .85em;
    align-items: center;
    border-radius: .5em;
    text-decoration: none;
    color: var(--primary-text-color);
}

#sidebar i {
    flex-shrink: 0;
    color: var(--primary-text-color);
}

#sidebar a span {
    flex-grow: 1;
}

#sidebar a:hover {
    background-color: var(--hover-color);
}

#toggle-button {
    border: none;
    padding: 1em;
    background: none;
    margin-left: auto;
    border-radius: .5em;

    cursor: pointer;

    /* transition to button */
    i {
        transition: rotate 150ms ease;
    }
}

#toggle-button:hover {
    background-color: var(--hover-color);
}

.rotate i:last-child {
    rotate: 180deg;
}

main {
    padding: 2%;
}

/* css for team members page */

.team-members-container {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-top: 30px;
    
    /* enhancing properties */
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    /* transtitions and animations */
    transition: transform 0.5s ease;
    animation: PopUp 1s ease-in both;
}

@keyframes PopUp {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.card {
    min-width: 200px;
    max-width: 300px;
    height: 400px;
    background: transparent;
    flex: 1 1 calc(25% - 20px); /* width changes dynamicly */

    /* enhancing properties */
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);

    /* transitions and animations */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    width: 100%;
    position: relative;
    padding-top: 100%;
    border-radius: 10px;

    /* engancing properties */
    background-size: 200% 200%;

    /* transitions and animations */
    animation: gradient-border 3s infinite;
}

/* created a angle property(global variable) so that it can dynamicly change the degree of the animation*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Will be explained in details on 'website project' page */
.card-image::after, .card-image::before {
    top: 50%;
    left: 50%;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    translate: -50% -50%;
    animation: 5s spin linear infinite;
    background-image: conic-gradient(from var(--angle), #311B92, #5E35B1, #651FFF, #B388FF, white, #311B92);
}

.card-image::before {
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.card-image img {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: calc(100% - 10px); /* dynamically changes width */
    height: calc(100% - 10px); /* dynamically changes height */
    object-fit: cover;
    border-radius: 10px;
}

.card-information {
    padding: 15px;
    text-align: center;
}

.card-information h2 {
    margin: 0;
    font-size: 1.5rem; /* senior example of size */
    color: var(--accent-color); /* changed to general color */
}

.card-information p {
    color: white;
    margin: 5px 0 0;
    font-size: 1rem;
}

/* details of students dialog */

dialog {
    width: 75%;
    height: 70%;
    margin: auto;
    color: white;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: black;
    border: 1px solid var(--accent-color);

    /* transitions and animations */
    transition: all 1s ease-in-out;
}

/* Animation Logic to the dialog */
dialog[open] {
    opacity: 1;
}

/* it is not in vs code yet but in new version css it is actually working */
@starting-style {
    dialog[open] {
        opacity: 0;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/* it is not in vs code yet but in new version css it is actually working */
@starting-style {
    dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

section {
    padding: 2rem;
}

section * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.details {
    gap: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.details .details-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.dialog-span {
    color: var(--accent-color);
}

.details-content h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.details-content p {
    font-size: 1rem;
}

.details-image {
    border-radius: 50%;
}

.details-image img {
    width: 25vw; /* 25 vw is like 25% but there is some difference: 25vw is based on the viewport width, while 25% is based on the parent element's width */
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px solid var(--accent-color);
    
    /* transitions and animations */
    transform: 0.2s linear;
}

.details-image img:hover {
    font-weight: 500;
    font-size: 1.8rem;
    transform: scale(1.01);
}

.social-icons a {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--accent-color);
    background-color: transparent;
    border: 0.2rem solid var(--accent-color);

    /* transitions and animations */
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: black;
    background-color: var(--accent-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--accent-color);
}

.dialog-button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 4rem;
    padding: 1rem 2.8rem;
    display: inline-block;
    letter-spacing: 0.3rem;
    background-color: black;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);

    /* transitions and animations */
    transition: 0.3s ease;
}

.dialog-button:hover {
    color: black;
    transform: scale3d(1.03);
    background-color: var(--accent-color);
    box-shadow: 0 0 25px var(--accent-color);
}

.dialog-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.dialog-text span{
    position: relative;
}

/* idex page css - greeting */
.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
} 

.greeting-container {
    z-index: 3;
    max-width: 600px;
}

.greeting-container h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    /* transitions and animations */
    animation: appear 2s ease-in;
}

.greeting-container p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;

    /* transitions and animations */
    animation: appear 3s ease-in;
}

.button-container {
    gap: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.index-button {
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 4px 10px #651FFF;
    background-color: var(--accent-color);

    /* transitions and animations */
    animation: appear 4s ease-in;
    transition: transform 0.3s, box-shadow 0.3s;
}

.index-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px #5E35B1;
}
  
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hour of code css */
.hourofcode-section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
}

.hourofcode-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.hourofcode-container img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    object-fit: cover;
    border-radius: 10px;
}

.hourofcode-container p {
    font-size: 1.2rem;
}

/* web project css */
.web-proj-container {
    padding: 2%;
    margin: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.web-proj-container h2 {
    font-size: 2rem;
    color: var(--accent-color);
}

.web-proj-container p, .web-proj-container a {
    margin: 1.5rem 0.8rem 0rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

.web-proj-container a {
    text-decoration: none;
    font-style: oblique;
}